.navbar {
    margin: 0 5% 0 5%;
}


.logo {
    margin-left: 20px;
    margin-right: 20px;
}

.brand {
    margin-top: 5%;
    color: whitesmoke;
    text-shadow: 2px 2px 0px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.link {
    text-decoration: none;
    color: whitesmoke;
}

.navbar-nav {
    margin-right: 13%;
}

.nav-item {
    padding: 0 15% 0 15%;
}

.link:hover {
    text-decoration: underline;
    color: whitesmoke;
}