
.duckSection {
    padding: 20px;
    background-color: whitesmoke;
}

.duckTitle {
    color: orange;
    text-align: center;
    text-decoration: none;
}

.duckTitle h2 {
    margin-bottom: 20px;
}


.duckDiv {
    display: flex;
    color: black;
}

.duckDescription {
    padding: 40px;
}

.duckAppLink {
    color: orange;
    text-decoration: none;
}

.duckAppLink:hover {
    color: black;
    text-decoration: underline;
}