.torSection {
    padding: 20px;
    background-color: black;
}

.torTitle {
    color: green;
    text-align: center;
    text-decoration: none;
}

.torTitle h2 {
    margin-bottom: 20px;
}


.torDiv {
    display: flex;
    color: whitesmoke;
}

.torServerLink {
    color: green;
    text-decoration: none;
}