.middlePane {
    background: url(../../../../images/lock-ondata-SS-1920x1280.jpg);
    color: whitesmoke;
    background-size: cover;
    height: 100vh;
}

.sectionTitle {
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.text {
    margin: 15% 10% 0 0 ;
    background: rgba(54, 54, 54, 0.7);
    float: right;
    width: 30vw;
    padding: 40px;
    font-weight: bold;
    border-radius: 40%;
    text-align: center;
}

/* .eye {
    width:400px;
    height: 400px;
    float: right;
} */