.Home {
    margin: 0;
    padding: 0;
    background-image: url("../../images/lock-ondata-SS-1920x1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.title {
    color: whitesmoke;
    text-shadow: 2px 2px 0px black;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}


.torSection {
    padding: 20px;
    background-color: black;
}

.torTitle {
    color: green;
    text-align: center;
    text-decoration: none;
}

.torTitle h2 {
    margin-bottom: 20px;
}


.torDiv {
    display: flex;
    color: whitesmoke;
}

.torServerLink {
    color: green;
    text-decoration: none;
}